@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .overflow-hidden-scrollable {
    -ms-overflow-style: none;
  }

  .overflow-hidden-scrollable::-webkit-scrollbar {
    display: none;
  }
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  src: local('Manrope'), url('/fonts/Manrope.woff2') format('woff2');
}

body {
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
}
